* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}


.home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: white;
    border: 0px solid;
    position: fixed;
    z-index: 1;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

.brbutton {
    padding: 20px;
    text-decoration: none;
    color: black;
    word-spacing: 4px;
    font-size: 15px;
    padding-top: 20px;
    padding-right: 20px;

    letter-spacing: 2px;
    box-sizing: border-box;
}

.obutton {
    padding-top: 20px;
    padding-right: 20px;


    margin-left: 400px;
}

.mainimg {
    background-size: contain;

    width: 100%;
    height: auto;
}

.logotag {
    position: absolute;
    top: 50%;
    left: 40%;

    font-size: 50px;
    font-weight: 10;
    color: white
}

.logotag b {
    color:rgb(255, 255, 255) ;
    padding: 10px;
    background: #050404;
    opacity: 0.75;

}

.Projects{
    width: 90%;
    margin: auto;
    font-weight: 100px;
}

h3{
    margin: 60px 0px 20px 70px;
    font-size: 25px;
    font-weight: lighter;
}

.projecttagp {


    box-sizing: border-box;
    margin-top: 20px;
    border: 1px solid rgb(224, 220, 220);
}

.projectimgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 10px 10px 10px;


}

.projectimg {
    border: 0px solid black;
    height: 220px;
    width: 340px;
    margin-bottom: 20px;


}

.projectimg img {
    height: 220px;
    width: 340px;
}

.projecttitle {
    background: black;
    color: white;
    position: absolute;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    width: 150px;
    font-weight: 100;
}

.About {
    padding: 20px;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}

.abouttitle {
    margin: 0px 0px 0px 70px;
    font-size: 25px;
    font-weight: 100;
    
}

.abouttagp {
    box-sizing: border-box;
    margin-top: 20px;
    border: 1px solid rgb(224, 220, 220);
}

.About p {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.abouttags {
    display: flex;
    margin: 30px 10px 10px 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0px 0px 0px;
}

.abouttag {
    border: px solid black;
    height: 440px;
    width: 350px;
    margin-bottom: 20px;

}

.abouttag img {
    height: 220px;
    width: 350px;
}

.abouttag h2 {
    padding: 10px 0px 10px;
    font-weight: 100;


}

.abouttag h4 {
    padding: 10px 0px 10px;
    font-weight: 100;
    color: rgb(134, 134, 133);


}

.abouttag p {
    padding: 10px 0px 10px;
    margin: 0;
}

.aboutbutton {
    padding: 10px;
    position: relative;
    width: 350px;
    background: rgb(239, 235, 235);
    border: 0px;
    font-family: Verdana, sans-serif;
    cursor: pointer;
}
.contact{
    width: 90%;
    margin: auto;
}

.input {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    height: 30px;
    font-size: 1.2rem;
    border: 2px solid rgb(205, 196, 196);

}

form {
    padding: 0.01em 16px;
}


.contacts h1 {
    margin: 40px 0px 40px 70px;
    font-size: 25px;
    font-weight: 100;
}

.contacnttagp {
     
    box-sizing: border-box;
    margin-top: 20px;

    border: 1px solid rgb(224, 220, 220);
}

.contacts label {
    padding: 20px 10px 10px;
    margin-left: 10px;
}

.formbutton {

    margin-top: 30px;
    height: 40px;
    width: 150px;
    color: white;
    background: black;
}

.footerimg {
    background-size: contain;
    margin-top: 20px;
    width: 100%;
    height: auto;
}

footer {
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height: 40px;
    background: black;
    color: white;
}

.aboutbutton:hover{
     background-color: grey;
     
}
a{
    color: white;
    cursor: pointer;
}

a:hover{
    color: green;

}