*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 700px;
    width: 70%;
    background-color: rgb(41, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    height: 700px;
    width: 50%;
}

.right{
    width: 50%;
    height: 80%;
    color: white;
    padding: 20px 30px;
}

img{
    height: 100%;
    width: 100%;
}

h1{
    font-size: 70px;
}

h3{
    font-size: 25px;
    letter-spacing: 2px;
}

h1,h3,p,button{
    margin: 30px 0px;
}

p{
    line-height: 25px;
    color: rgb(224, 162, 171);
    letter-spacing: 2px;
}

span{
    color: rgb(246, 59, 59);
}

button{
    padding: 13px 25px;
    border-radius: 50px;
    background-color: rgb(222, 10, 81);
    border: none;
    color: white;
    
}